Repository artamokhin/PelmennayaN2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, infrastructure

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

infrastructure:
  stage: module-pipelines
  trigger:
    include:
    - /k8s-chart/.gitlab-ci.yml
    strategy: depend

K8s add token and cert
  k8s-chart/charts/backend/templates/deployment.yaml
Due: infrastructure

K8s add token and cert
  .gitlab-ci.yml
Due: none

K8s fix backend deployment
  k8s-chart/charts/backend/templates/deployment.yaml
  k8s-chart/config
Due: infrastructure

K8s fix backend deployment
  k8s-chart/charts/backend/templates/deployment.yaml
Due: infrastructure

K8s fix backend deployment
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  k8s-chart/charts/frontend/templates/deployment.yaml
  k8s-chart/values.yaml
Due: frontend, backend, infrastructure

K8s fix backend deployment
  k8s-chart/charts/frontend/templates/deployment.yaml
  k8s-chart/values.yaml
Due: infrastructure

K8s fix backend deployment
  k8s-chart/charts/frontend/templates/ingress.yaml
Due: infrastructure

K8s fix backend deployment
  k8s-chart/values.yaml
Due: infrastructure

K8s fix backend deployment
  k8s-chart/charts/backend/templates/deployment.yaml
  k8s-chart/charts/backend/templates/secrets.yaml
  k8s-chart/values.yaml
Due: infrastructure

K8s add health and prometheus endpoint
  frontend/nginx/nginx.tmpl
  k8s-chart/charts/backend/templates/deployment.yaml
Due: frontend, infrastructure

Add Prometheus and Grafana
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/nginx/default.conf
  monitoring-tools/README.md
  monitoring-tools/alertmanager/.helmignore
  monitoring-tools/alertmanager/Chart.yaml
  monitoring-tools/alertmanager/templates/_helpers.tpl
  monitoring-tools/alertmanager/templates/configmap.yaml
  monitoring-tools/alertmanager/templates/deployment.yaml
  monitoring-tools/alertmanager/templates/ingress.yaml
  monitoring-tools/alertmanager/templates/services.yaml
  monitoring-tools/alertmanager/values.yaml
  monitoring-tools/grafana/.helmignore
  monitoring-tools/grafana/Chart.yaml
  monitoring-tools/grafana/dashboards/Kubernetes___Compute_Resources___Pod.json
  monitoring-tools/grafana/templates/_helpers.tpl
  monitoring-tools/grafana/templates/deployment.yaml
  monitoring-tools/grafana/templates/ingress.yaml
  monitoring-tools/grafana/templates/pvc.yaml
  monitoring-tools/grafana/templates/services.yaml
  monitoring-tools/grafana/values.yaml
  monitoring-tools/prometheus/.dockerignore
  monitoring-tools/prometheus/.helmignore
  monitoring-tools/prometheus/Chart.yaml
  monitoring-tools/prometheus/rules/sausage-store.yaml
  monitoring-tools/prometheus/templates/configmap.yaml
  monitoring-tools/prometheus/templates/deployment.yaml
  monitoring-tools/prometheus/templates/ingress.yaml
  monitoring-tools/prometheus/templates/rules.yaml
  monitoring-tools/prometheus/templates/services.yaml
  monitoring-tools/prometheus/values.yaml
Due: frontend, backend

Add Prometheus and Grafana
  k8s-chart/charts/backend/templates/deployment.yaml
  monitoring-tools/alertmanager/templates/configmap.yaml
  monitoring-tools/alertmanager/templates/ingress.yaml
  monitoring-tools/grafana/templates/deployment.yaml
  monitoring-tools/prometheus/rules/sausage-store.yaml
  monitoring-tools/prometheus/templates/configmap.yaml
  monitoring-tools/prometheus/templates/deployment.yaml
Due: infrastructure

fix resoursec request
  k8s-chart/values.yaml
Due: infrastructure

fix resoursec request
  k8s-chart/charts/backend/templates/deployment.yaml
  monitoring-tools/grafana/templates/deployment.yaml
  monitoring-tools/prometheus/templates/deployment.yaml
Due: infrastructure

fix resoursec request
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  k8s-chart/values.yaml
Due: frontend, backend, infrastructure

fix resoursec request
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

fix resources request
  backend/Dockerfile
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend, backend

fix resources request
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Add grafana config & screenshot
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  monitoring-tools/grafana/Dashboard.png
  monitoring-tools/grafana/grafana-dashboard-config.json
Due: frontend, backend

change DNS hosting
  k8s-chart/values.yaml
  monitoring-tools/grafana/templates/ingress.yaml
  monitoring-tools/prometheus/templates/ingress.yaml
Due: infrastructure

change DNS hosting
  k8s-chart/charts/frontend/templates/ingress.yaml
  monitoring-tools/grafana/templates/ingress.yaml
  monitoring-tools/prometheus/templates/ingress.yaml
Due: infrastructure

change DNS hosting
  k8s-chart/charts/frontend/templates/ingress.yaml
Due: infrastructure

Add alertmanager, grafana & prometheus to helm chart
  k8s-chart/Chart.yaml
  k8s-chart/charts/alertmanager/.helmignore
  k8s-chart/charts/alertmanager/Chart.yaml
  k8s-chart/charts/alertmanager/templates/_helpers.tpl
  k8s-chart/charts/alertmanager/templates/acme-issuer.yaml
  k8s-chart/charts/alertmanager/templates/configmap.yaml
  k8s-chart/charts/alertmanager/templates/deployment.yaml
  k8s-chart/charts/alertmanager/templates/ingress.yaml
  k8s-chart/charts/alertmanager/templates/services.yaml
  k8s-chart/charts/backend/templates/deployment.yaml
  k8s-chart/charts/frontend/templates/acme-issuer.yaml
  k8s-chart/charts/frontend/templates/deployment.yaml
  k8s-chart/charts/frontend/templates/ingress.yaml
  k8s-chart/charts/grafana/Chart.yaml
  k8s-chart/charts/grafana/Dashboard.png
  k8s-chart/charts/grafana/dashboards/Momo-store.json
  k8s-chart/charts/grafana/templates/_helpers.tpl
  k8s-chart/charts/grafana/templates/acme-issuer.yaml
  k8s-chart/charts/grafana/templates/deployment.yaml
  k8s-chart/charts/grafana/templates/ingress.yaml
  k8s-chart/charts/grafana/templates/pvc.yaml
  k8s-chart/charts/grafana/templates/services.yaml
  k8s-chart/charts/prometheus/Chart.yaml
  k8s-chart/charts/prometheus/rules/sausage-store.yaml
  k8s-chart/charts/prometheus/templates/acme-issuer.yaml
  k8s-chart/charts/prometheus/templates/configmap.yaml
  k8s-chart/charts/prometheus/templates/deployment.yaml
  k8s-chart/charts/prometheus/templates/ingress.yaml
  k8s-chart/charts/prometheus/templates/rules.yaml
  k8s-chart/charts/prometheus/templates/services.yaml
  k8s-chart/values.yaml
  monitoring-tools/README.md
  monitoring-tools/alertmanager/values.yaml
  monitoring-tools/grafana/.helmignore
  monitoring-tools/grafana/dashboards/Kubernetes___Compute_Resources___Pod.json
  monitoring-tools/grafana/templates/deployment.yaml
  monitoring-tools/grafana/values.yaml
  monitoring-tools/prometheus/.dockerignore
  monitoring-tools/prometheus/.helmignore
  monitoring-tools/prometheus/values.yaml
Due: infrastructure

Add alertmanager, grafana & prometheus to helm chart
  k8s-chart/charts/alertmanager/.helmignore
  k8s-chart/charts/prometheus/Chart.yaml
Due: infrastructure

fix alertmanager ingress
  k8s-chart/charts/alertmanager/templates/ingress.yaml
Due: infrastructure

fix alertmanager ingress
  backend/.gitlab-ci.yml
  frontend/Dockerfile
  k8s-chart/values.yaml
Due: frontend, backend, infrastructure

fix secrets
  backend/.gitlab-ci.yml
Due: backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
  infrastructure: any of: k8s-chart/**/*
