Repository artamokhin/PelmennayaN2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, infrastructure

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

infrastructure:
  stage: module-pipelines
  trigger:
    include:
    - /k8s-chart/.gitlab-ci.yml
    strategy: depend

fix secrets
  backend/.gitlab-ci.yml
  k8s-chart/charts/backend/templates/secrets.yaml
Due: backend, infrastructure

fix secrets
  k8s-chart/charts/backend/templates/secrets.yaml
Due: infrastructure

fix secrets
  backend/.gitlab-ci.yml
  k8s-chart/charts/grafana/templates/deployment.yaml
Due: backend, infrastructure

fix secrets
  k8s-chart/values.yaml
Due: infrastructure

fix secrets
  k8s-chart/charts/grafana/templates/deployment.yaml
  k8s-chart/values.yaml
Due: infrastructure

fix secrets
  backend/.gitlab-ci.yml
  k8s-chart/values.yaml
Due: backend, infrastructure

fix secrets
  backend/.gitlab-ci.yml
Due: backend

fix secrets
  k8s-chart/charts/alertmanager/templates/configmap.yaml
  k8s-chart/values.yaml
Due: infrastructure

fix secrets
  backend/.gitlab-ci.yml
  k8s-chart/charts/alertmanager/templates/configmap.yaml
  k8s-chart/values.yaml
Due: backend, infrastructure

add ingress controller installation
  backend/.gitlab-ci.yml
Due: backend

add ingress controller installation
  backend/.gitlab-ci.yml
  k8s-chart/charts/backend/templates/secrets.yaml
  k8s-chart/values.yaml
Due: backend, infrastructure

fix alertmanager configmap
  backend/.gitlab-ci.yml
  k8s-chart/charts/alertmanager/templates/configmap.yaml
Due: backend, infrastructure

add grafana configmap to set default dashboard and fix docker secret
  backend/.gitlab-ci.yml
  k8s-chart/charts/backend/templates/secrets.yaml
  k8s-chart/charts/grafana/templates/configmap.yaml
  k8s-chart/values.yaml
Due: backend, infrastructure

add grafana configmap to set default dashboard and fix docker secret
  backend/.gitlab-ci.yml
  k8s-chart/charts/backend/templates/secrets.yaml
  k8s-chart/values.yaml
Due: backend, infrastructure

add grafana configmap to set default dashboard and fix docker secret
  backend/.gitlab-ci.yml
Due: backend

fix default dashboard
  backend/.gitlab-ci.yml
  k8s-chart/charts/grafana/templates/configmap.yaml
  k8s-chart/charts/grafana/templates/deployment.yaml
  k8s-chart/values.yaml
Due: backend, infrastructure

fix default grafana dashboard
  k8s-chart/charts/backend/templates/secrets.yaml
  k8s-chart/values.yaml
Due: infrastructure

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
  infrastructure: any of: k8s-chart/**/*
