Repository artamokhin/PelmennayaN2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, infrastructure

.gitlab-ci.yml:

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - backend/**/*

infrastructure:
  stage: module-pipelines
  trigger:
    include:
      - "/k8s-chart/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - k8s-chart/**/*

try to set custom dashboard in grafana
  k8s-chart/charts/grafana/templates/deployment.yaml
  k8s-chart/charts/grafana/templates/ingress.yaml
  k8s-chart/values.yaml
Due: infrastructure

try to set custom dashboard in grafana
  k8s-chart/charts/grafana/templates/deployment.yaml
  k8s-chart/values.yaml
Due: infrastructure

try to set custom dashboard in grafana
  k8s-chart/values.yaml
Due: infrastructure

add readme
  README.md
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
  frontend/nginx/default.conf
  k8s-chart/charts/grafana/dashboards/kubernetes.json
  k8s-chart/values.yaml
Due: frontend, backend, infrastructure

add readme
  README.md
Due: none

fix ingress alertmanager
  k8s-chart/charts/alertmanager/templates/ingress.yaml
Due: infrastructure

fix ingress alertmanager
  README.md
  backend/.gitlab-ci.yml
Due: backend

fix ingress alertmanager
  README.md
  k8s-chart/charts/backend/templates/secrets.yaml
Due: infrastructure

fix ingress alertmanager
  README.md
  backend/.gitlab-ci.yml
  k8s-chart/charts/alertmanager/Chart.yaml
  k8s-chart/charts/alertmanager/templates/acme-issuer.yaml
Due: backend, infrastructure

fix ingress alertmanager
  k8s-chart/charts/alertmanager/templates/acme-issuer.yaml
  k8s-chart/charts/alertmanager/templates/ingress.yaml
Due: infrastructure

fix ingress alertmanager
  k8s-chart/charts/backend/templates/secrets.yaml
Due: infrastructure

fix ingress alertmanager
  k8s-chart/Chart.yaml
  k8s-chart/charts/backend/templates/secrets.yaml
Due: infrastructure

fix ingress alertmanager
  k8s-chart/Chart.yaml
Due: infrastructure

fix ingress alertmanager
  k8s-chart/Chart.yaml
  k8s-chart/charts/backend/templates/secrets.yaml
  k8s-chart/charts/magda-common/Chart.yaml
  k8s-chart/charts/magda-common/README.md
  k8s-chart/charts/magda-common/README.md.gotmpl
  k8s-chart/charts/magda-common/templates/_db-secrets.tpl
  k8s-chart/charts/magda-common/templates/_helpers.tpl
  k8s-chart/charts/magda-common/templates/_image.tpl
  k8s-chart/charts/magda-common/templates/_openfaas.tpl
  k8s-chart/charts/magda-common/templates/_release.tpl
  k8s-chart/charts/magda-common/templates/_tplvalues.tpl
  k8s-chart/charts/magda-common/values.yaml
  k8s-chart/values.yaml
Due: infrastructure

fix ingress alertmanager
  k8s-chart/values.yaml
Due: infrastructure

fix terraform secret
  README.md
  k8s-chart/charts/backend/templates/secrets.yaml
  terraform/momo-store/backend.tf
Due: infrastructure

debug docker secret
  README.md
  backend/.gitlab-ci.yml
Due: backend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

debug docker secret
  backend/.gitlab-ci.yml
Due: backend

fix docker secret
  backend/.gitlab-ci.yml
  k8s-chart/Chart.yaml
  k8s-chart/charts/backend/templates/secrets.yaml
  k8s-chart/charts/magda-common/Chart.yaml
  k8s-chart/charts/magda-common/README.md
  k8s-chart/charts/magda-common/README.md.gotmpl
  k8s-chart/charts/magda-common/templates/_db-secrets.tpl
  k8s-chart/charts/magda-common/templates/_helpers.tpl
  k8s-chart/charts/magda-common/templates/_image.tpl
  k8s-chart/charts/magda-common/templates/_openfaas.tpl
  k8s-chart/charts/magda-common/templates/_release.tpl
  k8s-chart/charts/magda-common/templates/_tplvalues.tpl
  k8s-chart/charts/magda-common/values.yaml
Due: backend, infrastructure

fix ci
  .gitlab-ci.yml
Due: none

Clean secrets
  terraform/momo-store/backend.tf
  terraform/momo-store/variables.tf
Due: none

Update README.md
  README.md
Due: none

Update values.yaml
  k8s-chart/values.yaml
Due: infrastructure
